# --- Учётные данные для postgres / minio ---
POSTGRES_USER=gophkeeper
POSTGRES_PASSWORD=gophkeeper
POSTGRES_DB=gophkeeper

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# --- gRPC  ---
GOPHKEEPER_GRPC_PUBLISH=50051
GOPHKEEPER_GRPC_ADDR=0.0.0.0:50051

# debug | info | warn | error
GOPHKEEPER_LOG_LEVEL=info
GOPHKEEPER_ENV=development

GOPHKEEPER_MINIO_BUCKET=gophkeeper
GOPHKEEPER_MINIO_USE_SSL=false

# GOPHKEEPER_DATABASE_URL=postgres://gophkeeper:gophkeeper@127.0.0.1:5432/gophkeeper?sslmode=disable
# GOPHKEEPER_MINIO_ENDPOINT=127.0.0.1:9000
# GOPHKEEPER_MINIO_ACCESS_KEY=minioadmin
# GOPHKEEPER_MINIO_SECRET_KEY=minioadmin
